<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Student Management</h1>
    <div class="menu">
        <a href="/add">Add Student</a>
        <a href="/search">Search Student</a>
        <a href="/update">Update Student</a>
        <a href="/delete">Delete Student</a>
        <a href="/view">View Student</a>
    </div>
    <br>
    <div class="menu">
        <a href="/addstandard">Add standard</a>
        <a href="/updatestandard">Update standard</a>
        <a href="/deletestandard">Delete standard</a>
        <a href="/viewstandard">View standard</a>
    </div>
    <br>
    <div class="menu">
        <a href="/addSubjects">Add Subjects</a>
        <a href="/updateSubjects">Update Subjects</a>
        <a href="/deleteSubjects">Delete Subjects</a>
        <a href="/viewSubjects">View Subjects</a>
    </div>
</body>
</html>