<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <form action="/updatesearch">
        <h3>Search Student</h3>
        <hr>
        <label for="phn"><b>Phone No</b></label>
        <input type="text" placeholder="Enter Phone No" name="phone" id="phone">

        <button type="submit" class="registerbtn">SEARCH STUDENT</button>
        <a href="/" style="color: black;">BACK TO HOME</a>
        {{#if mesg2}}
            <h3>Data not found</h3>
        {{/if}}
        {{#if umesg}}
            <h3>Data Updated</h3>
        {{/if}}
        </form>
    </div>
    {{#if mesg1}}
    <div class="container">
        <form action="/updatestudent">
        <h3>Update Student</h3>
        <hr>
        {{#data}}
        <label for="name"><b>Student Name</b></label>
        <input type="text" placceholder="Enter name" name="name" value="{{username}}" id="name">
        
        <label for="phn"><b>Phone no</b></label>
        <input type="text" placceholder="Enter Phone no" value="{{phone}}" name="phone" id="phone">
        
        <label for="eml-id"><b>Email ID</b></label>
        <input type="text" placceholder="Enter email id" value="{{email}}" name="email" id="email">
        
        <div class="gender_g">
            <strong>Gender</strong>
        <input type="radio" name="gender" value="male">Male  
        <input type="radio" name="gender" value="male">Female  
        </div>
        {{/data}}
        <button type="submit" class="registerbtn">Update STUDENT</button>
        <a href="/" style="color:black;">Back to Home</a>

        </form>
    </div>
    {{/if}}
</body>
</html>