<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Student</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <h3>View Student</h3>
        <hr>
        <table>
            <tr>
                <th>Student Name</th>
                <th>Phone No</th>
                <th>Email ID</th>
                <th>Gender</th>
            </tr>
            <tbody>
           {{#data}}
                     <tr>
                            <td>{{name}}</td>
                            <td>{{phone}}</td>
                            <td>{{email}}</td>
                            <td>{{gender}}</td>
                    </tr>
                {{/data}}
            </tbody>
        </table>
        <a href="/" style="color: black;">BACK TO HOME</a>
    </div>
</body>
</html>
